
#page1 {
    background-color: aqua;
    height: 1200px;
    margin-top: 50px;
}

#page2 {
    height: 1200px;
    margin-top: 50px;
}

#page3 {
    height: 1200px;
    margin-top: 50px;
}

#page4 {
    height: 1200px;
    margin-top: 50px;
}
